@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-normal {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.rubik-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1.title {
    font-size: 3rem;
    margin-block: 30px;
    pad: 10px;
}
h2.points-info-title {
    margin-block: 10px;
    padding: 5px 10px;
}
.hand {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card {
    height: 250px;
}
#player-info {
    margin-top: 50px;
}
.player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 20px;
}
.button {
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}